[mysqld]
# datadir=/var/lib/mysql
# socket=/var/lib/mysql/mysql.sock
datadir=/usr/local/mysql/data/mysql
socket=/usr/local/mysql/data/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

plugin-load-add=validate_password.so
validate-password=FORCE_PLUS_PERMANENT
validate_password.policy=LOW
validate_password_policy=LOW
validate_password.length=1
validate_password_length=1

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
